<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<section class = "section">
  <div class = "container">
    <span class = "title">
      Buttons
    </span>
    <br>
    <br>

    <span class = "is-size-5">
      Basic Buttons
    </span>
    <br>

    <a class = "button">Anchor</a>
    <button class = "button">Button</button>
    <input class = "button" type = "submit" value = "Submit">
    <br>
    <br>

    <span class = "is-size-5">
      Button Colors
    </span>
    <br>

    <a class = "button is-white">White</a>
    <a class = "button is-light">Light</a>
    <a class = "button is-dark">Dark</a>
    <a class = "button is-black">Black</a>
    <a class = "button is-text">Text</a>
    <br>
    <br>

    <a class = "button is-primary">Primary</a>
    <a class = "button is-link">Link</a>
    <a class = "button is-info">Info</a>
    <a class = "button is-success">Success</a>
    <a class = "button is-warning">Warning</a>
    <a class = "button is-danger">Danger</a>
    <br>
    <br>

    <span class = "is-size-5">
      Button Sizes
    </span>
    <br>

    <a class = "button is-small">Small Button</a>
    <a class = "button">Normal Button</a>
    <a class = "button is-medium">Medium Button</a>
    <a class = "button is-large">Large Button</a>
  </div>
</section>


